/*RESET */
a {
  color: inherit;
  text-decoration: none; }

/* GENERAL */
/*BURGER */
strong {
  font-weight: 500; }

em {
  font-style: italic; }

body {
  font-family: Roboto, "Verdana";
  font-weight: 200;
  background: #EBEBEB; }

.container {
  width: 100%; }

h2 {
  font-size: 1.7em;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 800px) {
    h2 {
      font-size: 1.1em; } }

h3 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400; }
  @media (max-width: 800px) {
    h3 {
      font-size: 0.8em; } }

/*HEADER */
header {
  display: inline;
  width: 100%;
  height: 60px; }
  @media (max-width: 800px) {
    header {
      height: 20px; } }
  header .menu {
    text-align: left;
    display: inline-block;
    position: fixed; }
    header .menu .menu-icon {
      height: 50px;
      width: 50px; }
  header li {
    display: inline-block;
    text-transform: uppercase; }

/*A PROPOS */
.apropos {
  width: 100%;
  height: 654px;
  background: url("../img/header_bg.png");
  background-size: cover;
  color: #fff;
  font-size: 1.1em;
  padding: 22px; }
  @media (max-width: 350px) {
    .apropos {
      height: 580px; } }

.presentation {
  text-align: center; }
  .presentation h1 {
    font-size: 2.3em;
    font-weight: 300;
    margin: 0 0 2%; }
    .presentation h1 span {
      font-size: 0.8em;
      font-weight: 200; }
    @media (max-width: 800px) {
      .presentation h1 {
        font-size: 1.1em; } }
  .presentation .content {
    width: 75%;
    margin: 0 auto; }
    @media (max-width: 1149px) {
      .presentation .content {
        width: 90%;
        margin: 0 auto; } }
    .presentation .content .portrait {
      display: inline-block;
      height: 170px; }
      @media (max-width: 800px) {
        .presentation .content .portrait {
          display: block;
          margin: 0 auto;
          height: 80px; } }
      @media (min-width: 360px) and (max-width: 800px) {
        .presentation .content .portrait {
          height: 130px; } }
    .presentation .content p {
      line-height: 140%;
      width: 620px;
      text-align: justify;
      display: inline-block;
      font-weight: 200;
      font-size: 1.1em;
      margin-left: 4%; }
      @media (max-width: 800px) {
        .presentation .content p {
          text-align: left;
          display: inline-block;
          width: 100%; } }
      @media (max-width: 320px) {
        .presentation .content p {
          font-size: 0.9em; } }

.competences {
  text-align: center;
  margin: 0 auto; }
  @media (max-width: 963px) {
    .competences {
      display: none; } }
  .competences h2 {
    margin: 3% 0 3% 0; }
  .competences .content {
    width: 60%;
    margin: 0 auto; }
    .competences .content .atom {
      float: right;
      margin: -30% -15% 0; }
      @media (max-width: 1140px) {
        .competences .content .atom {
          display: none; } }
    .competences .content ol {
      padding-left: 40%; }
      .competences .content ol li {
        text-align: left; }
        .competences .content ol li ol {
          text-align: left;
          list-style-image: url("../img/nested.png");
          padding: 5px 0 5px 18px; }
          .competences .content ol li ol li {
            text-align: left;
            line-height: 100%;
            margin-left: 10%;
            font-size: 0.8em; }

.joindre {
  width: 210px;
  height: 100px;
  margin: 0 4% 0; }
  @media (max-width: 1000px) {
    .joindre {
      display: none; } }
  .joindre .bulle {
    background: #FFCA28;
    border-radius: 100%;
    text-align: center;
    text-transform: uppercase; }
  .joindre .cv {
    height: 70px;
    width: 70px;
    display: inline-block;
    padding-top: 12%;
    margin: 25px 16px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26), 0 0 1px 0 rgba(0, 0, 0, 0.16); }
  .joindre .contact {
    height: 100px;
    width: 100px;
    display: inline-block;
    padding-top: 20%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26), 0 0 1px 0 rgba(0, 0, 0, 0.16); }

/*MODALE */
.modale {
  display: none;
  background-color: rgba(151, 146, 149, 0.5);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 8%; }
  .modale .content {
    border-radius: 2%;
    padding: 1%;
    color: #000;
    margin: 0 auto;
    width: 40%;
    height: 450px;
    background: #EBEBEB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    @media (max-width: 400px) {
      .modale .content {
        width: 75%;
        margin: 5% auto; } }
    .modale .content h3 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 3%;
      border-bottom: 1px solid #000;
      line-height: 200%; }
    .modale .content .ancres {
      margin-left: 33%;
      text-align: left; }
      @media (max-width: 900px) {
        .modale .content .ancres {
          text-align: center;
          margin: 0 auto; } }
      .modale .content .ancres li {
        line-height: 160%;
        font-size: 2em;
        font-weight: 200;
        margin: 5%; }
        @media (max-width: 400px) {
          .modale .content .ancres li {
            font-size: 1.7em; } }
    .modale .content .social {
      text-align: center;
      border-top: 1px solid black; }
      .modale .content .social li {
        display: inline-block;
        font-size: 2.3em;
        margin: 5%; }

/*TIMELINE */
.cd-horizontal-timeline {
  color: #4A4A4A;
  height: 400px;
  width: 100%;
  text-align: center; }
  .cd-horizontal-timeline h2 {
    margin: 50px 0 75px 0; }
  .cd-horizontal-timeline i {
    display: block;
    font-size: 2.3em; }
  .cd-horizontal-timeline p {
    text-align: justify;
    margin-top: 2%; }

/*REALISATIONS */
.realisations {
  background: url("../img/playbackground.png");
  background-size: cover;
  width: 100%;
  height: 1017px;
  color: #fff;
  padding: 3.3%;
  overflow: auto; }
  .realisations .grid {
    position: relative;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    margin: 0 auto; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  text-align: center;
  cursor: pointer;
  background: #090704; }
  @media screen and (max-width: 50em) {
    .grid figure {
      display: inline-block;
      float: none;
      margin: 10px auto;
      width: 100%; } }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*--------------- */
/***** Zoe **** */
/*--------------- */
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #EBEBEB;
  color: #000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-zoe h2 {
  float: left; }

figure.effect-zoe p.icon-links a {
  float: right;
  color: #000;
  font-size: 2.4em; }

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31; }

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden; }
  @media (max-width: 320px) {
    figure.effect-zoe p.description {
      padding: 0; } }

/* Fix for Chrome 37.0.2062.120 (Mac) */
figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

figure.effect-zoe h2 {
  display: inline-block; }

figure.effect-zoe:hover p.description {
  opacity: 1; }

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

footer {
  text-align: center;
  height: 80px;
  padding-top: 2%;
  font-size: 0.8em; }
  @media (max-width: 800px) {
    footer {
      height: 50px; } }
  footer .legal {
    vertical-align: bottom;
    margin-top: 1%; }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer ul li {
      align-self: center; }
      footer ul li .fa {
        display: block; }

/*KEYFRAMES */
@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
.pulse:hover {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.menu-icon {
  width: 54px;
  position: relative;
  height: 54px;
  border-radius: 50%; }
  @media (max-width: 800px) {
    .menu-icon {
      width: 0;
      height: 0; } }
  .menu-icon span {
    width: 22px;
    height: 2px;
    background: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .menu-icon span::before, .menu-icon span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 22px;
      height: 2px;
      transform: translateY(-6px);
      background: #FFF;
      transition: transform 0.5s; }
    .menu-icon span::after {
      transform: translateY(6px); }
  .menu-icon:hover span::before {
    transform: translateY(-8px); }
  .menu-icon:hover span::after {
    transform: translateY(8px); }

.menu-icon-cross {
  transition: transformation 0.5s; }
  .menu-icon-cross span::before, .menu-icon-cross span::after {
    transform-origin: 50% 50%; }
  .menu-icon-cross span {
    transition: background 0.5s, transform 0.5s; }
  .menu-icon-cross.is-opened {
    transform: rotate(180deg); }
    .menu-icon-cross.is-opened span {
      background: transparent; }
    .menu-icon-cross.is-opened span::before {
      transform: translateY(0) rotate(45deg);
      background: #fff; }
    .menu-icon-cross.is-opened span::after {
      transform: translateY(0) rotate(-45deg);
      background: #fff; }

/*# sourceMappingURL=styles.css.map */
